@import url("https://fonts.googleapis.com/css2?family=Acme&family=Alegreya+Sans+SC:ital,wght@1,700&family=Ubuntu:ital,wght@1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

$red: #e81123;
$orange: #f7630c;
$yellow: #ffb900;
$green: #00cc6a;
$blue: #0078d7;
$purple: #6b69d6;
$btnSize: 8em;
$darkGray: #2c3e50;
$defaultFont: "Acme", sans-serif;

@mixin overlay($zIndex, $rgba) {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: $zIndex;
  background-color: $rgba;
}

@mixin brightness($brightness, $opacity) {
  border: 10px solid rgba(0, 0, 0, $opacity);
  -webkit-filter: brightness($brightness);
  filter: brightness($brightness);
}

%btn-panel {
  width: $btnSize;
  height: $btnSize;
  border-radius: 50%;
  outline: none;
  @include brightness(80%, 0.5);
}

@mixin panel($color) {
  @extend %btn-panel;
  background-color: $color;
}

%panels-spread {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

%flex {
  display: flex;
  flex-direction: column;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  background-color: #e0e0e0;
  font-family: $defaultFont;
  font-style: italic;
  color: $darkGray;
  overflow: hidden;
}

.brand-overlay {
  @extend %flex;
  @include overlay(5, rgba(33, 33, 33, 1));
  justify-content: center;
  align-items: center;
  .brand {
    transform: translateY(-500%);
    img {
      margin-top: -5em;
      width: 40%;
      height: auto;
      -webkit-filter: invert(95%) sepia(94%) saturate(2%) hue-rotate(68deg)
        brightness(103%) contrast(100%);
      filter: invert(95%) sepia(94%) saturate(2%) hue-rotate(68deg)
        brightness(103%) contrast(100%);
    }
    h1 {
      font-size: 4em;
      font-weight: 700;
      font-style: italic;
      font-family: "Alegreya Sans SC", sans-serif;
      text-transform: uppercase;
      color: white;
    }
  }
}

.underlay {
  @include overlay(4, rgba(255, 255, 255, 1));
}

.overlay {
  @extend %flex;
  @include overlay(3, rgba(0, 0, 0, 0));

  .title {
    font-size: 3.5em;
    font-family: "Ubuntu", sans-serif;
  }
  h3 {
    margin-top: 13em;
    font-size: 2em;
  }
}

.settings-overlay {
  @include overlay(4, rgba(0, 0, 0, 0));
  display: none;
  .settings-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translateY(-100%);
    color: white;
    div {
      i {
        font-size: 2.7em;
      }
    }
  }
}

#settings {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 4;
  opacity: 0;
  .cog {
    color: rgba(0, 0, 0, 0);
    font-size: 2em;
    -webkit-text-stroke: 2px #bdc3c7;
  }
}

.container {
  @extend %flex;
  position: relative;
  height: 100vh;
  .status {
    margin-top: 1.5em;
    margin-bottom: 2em;
    transform: translateY(-300%);
    #level {
      font-size: 3rem;
    }
    #turn {
      font-size: 2rem;
    }
  }
  .panels-container {
    @extend %flex;
    position: relative;
    align-items: center;
    .top,
    .bottom {
      @extend %panels-spread;
      gap: 0.8em;
    }
    .middle {
      @extend %panels-spread;
      gap: 7.2em;
    }
  }
  #play {
    margin-top: 2em;
    transform: translateY(400%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
    &:hover {
      opacity: 0.6;
    }
    .fa-play-circle {
      font-size: 5em;
    }
  }
}

.red {
  @include panel($red);
}

.orange {
  @include panel($orange);
}

.yellow {
  @include panel($yellow);
}

.green {
  @include panel($green);
}

.blue {
  @include panel($blue);
}

.purple {
  @include panel($purple);
}

.toggleOff {
  color: rgba(255, 255, 255, 0.5);
}

%flash,
.active {
  @include brightness(180%, 0.7);
}

// animation
#settings.animate__animated.animate__faster {
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  &.animate__fadeIn {
    opacity: 1;
  }
  &.animate__fadeIn {
    opacity: 0;
  }
}

.settings-modal.animate__animated.animate__slideInDown {
  transform: translateY(0);
}

.settings-modal.animate__animated.animate__slideOutUp {
  transform: translateY(-100%);
}

.animate__animated.animate__fadeIn {
  transform: translateY(0);
}

.animate__animated.animate__backOutUp {
  transform: translateY(-250%);
}

.animate__animated.animate__backOutDown {
  transform: translateY(500%);
}

.animate__animated.animate__slideInDown {
  transform: translateY(0);
}

.animate__animated.animate__slideInUp {
  transform: translateY(0);
}

.animate__animated.animate__fadeOutUp {
  transform: translateY(0);
}

.animate__animated.animate__fadeInDown {
  transform: translateY(-300%);
}
@media only screen and (max-device-width: 768px) {
  %btn-panel {
    &:active {
      @include brightness(180%, 0.7);
    }
  }
}

@media only screen and (min-device-width: 769px) {
  $btnSize: 9em;

  %btn-panel {
    width: $btnSize;
    height: $btnSize;
    @include brightness(80%, 0.5);
    &:hover {
      @include brightness(180%, 0.7);
    }
  }

  .brand-overlay {
    .brand {
      img {
        width: 25%;
      }
      h1 {
        font-size: 6em;
      }
    }
  }

  .overlay {
    .title {
      padding-top: 0;
      font-size: 6em;
    }
    h3 {
      margin-top: 10em;
      font-size: 3em;
    }
  }

  .settings-overlay {
    .settings-modal {
      width: 500px;
      margin-left: calc(50% - 250px);
      gap: 5em;
    }
  }

  #settings {
    left: calc(50% - 250px);
    top: 10px;
  }

  .container {
    .status {
      margin-top: 2.5em;
      margin-bottom: 3.5em;
      #level {
        font-size: 4rem;
      }
      #turn {
        font-size: 3rem;
      }
    }
    .panels-container {
      .top,
      .bottom {
        gap: 1.2em;
      }
      .middle {
        gap: 9.5em;
      }
    }
    #play {
      margin-top: 3.5em;
      .fa-play-circle {
        font-size: 7em;
      }
    }
  }
  .active {
    @include brightness(180%, 0.7);
  }
}

@media only screen and (min-device-width: 1024px) {
  .brand-overlay {
    .brand {
      img {
        width: 12%;
      }
    }
  }
}
