@import url("https://fonts.googleapis.com/css2?family=Acme&family=Alegreya+Sans+SC:ital,wght@1,700&family=Ubuntu:ital,wght@1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

$red: #e81123;
$orange: #f7630c;
$yellow: #ffb900;
$green: #00cc6a;
$blue: #0078d7;
$purple: #6b69d6;
$btnSize: 8em;
$darkGray: #2c3e50;
$defaultFont: "Acme", sans-serif;

@mixin overlay($zIndex, $rgba) {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: $zIndex;
  background-color: $rgba;
}

@mixin brightness($brightness, $opacity) {
  border: 10px solid rgba(0, 0, 0, $opacity);
  -webkit-filter: brightness($brightness);
  filter: brightness($brightness);
}

%btn-panel {
  width: $btnSize;
  height: $btnSize;
  border-radius: 50%;
  outline: none;
  @include brightness(80%, 0.5);
  &:hover {
    @extend %flash;
  }
}

@mixin panel($color) {
  @extend %btn-panel;
  background-color: $color;
}

%panels-spread {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

%flex {
  display: flex;
  flex-direction: column;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  background-color: #e0e0e0;
  font-family: $defaultFont;
  font-style: italic;
  color: $darkGray;
  overflow: hidden;
}

.brand-overlay {
  @extend %flex;
  @include overlay(5, rgba(33, 33, 33, 1));
  justify-content: center;
  align-items: center;
  .brand {
    transform: translateY(-500%);
    img {
      margin-top: -5em;
      width: 40%;
      height: auto;
      -webkit-filter: invert(95%) sepia(94%) saturate(2%) hue-rotate(68deg)
        brightness(103%) contrast(100%);
      filter: invert(95%) sepia(94%) saturate(2%) hue-rotate(68deg)
        brightness(103%) contrast(100%);
    }
    h1 {
      font-size: 4em;
      font-weight: 700;
      font-style: italic;
      font-family: "Alegreya Sans SC", sans-serif;
      text-transform: uppercase;
      color: white;
    }
  }
}

.underlay {
  @include overlay(4, rgba(255, 255, 255, 1));
}

.overlay {
  @extend %flex;
  @include overlay(3, rgba(0, 0, 0, 0));

  .title {
    font-size: 3.5em;
    font-family: "Ubuntu", sans-serif;
  }
  h3 {
    margin-top: 11.5em;
    font-size: 2em;
  }
}

.container {
  @extend %flex;
  height: 100vh;
  .status {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    transform: translateY(-200%);
    #level {
      font-size: 3rem;
    }
    #turn {
      font-size: 2rem;
    }
  }
  .panels-container {
    @extend %flex;
    position: relative;
    align-items: center;
    .top,
    .bottom {
      @extend %panels-spread;
      gap: 0.8em;
    }
    .middle {
      @extend %panels-spread;
      gap: 7.2em;
    }
  }
  #play {
    margin-top: 2em;
    transform: translateY(400%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
    &:hover {
      opacity: 0.6;
    }
    .fa-play-circle {
      font-size: 5em;
    }
  }
}

.red {
  @include panel($red);
}

.orange {
  @include panel($orange);
}

.yellow {
  @include panel($yellow);
}

.green {
  @include panel($green);
}

.blue {
  @include panel($blue);
}

.purple {
  @include panel($purple);
}

%flash,
.active {
  @include brightness(180%, 0.7);
}

.animate__animated.animate__fadeIn {
  transform: translateY(0);
}

.animate__animated.animate__backOutUp {
  transform: translateY(-250%);
}

.animate__animated.animate__backOutDown {
  transform: translateY(500%);
}

.animate__animated.animate__slideInDown {
  transform: translateY(0);
}

.animate__animated.animate__slideInUp {
  transform: translateY(0);
}

@media only screen and (min-device-width: 768px) {
  $btnSize: 9em;

  @mixin brightness($brightness, $opacity) {
    border: 12px solid rgba(0, 0, 0, $opacity);
  }

  %flash,
  .active {
    @include brightness(180%, 0.7);
  }

  %btn-panel {
    width: $btnSize;
    height: $btnSize;
    @include brightness(80%, 0.5);
    &:hover {
      @extend %flash;
    }
  }

  .brand-overlay {
    .brand {
      img {
        width: 12%;
      }
      h1 {
        font-size: 6em;
      }
    }
  }

  .overlay {
    .title {
      font-size: 6em;
    }
    h3 {
      margin-top: 10em;
      font-size: 3em;
    }
  }

  .container {
    .status {
      margin-top: 2.5em;
      margin-bottom: 3.5em;
      #level {
        font-size: 4rem;
      }
      #turn {
        font-size: 3rem;
      }
    }
    .panels-container {
      .top,
      .bottom {
        gap: 1.2em;
      }
      .middle {
        gap: 9.5em;
      }
    }
    #play {
      margin-top: 3.5em;
      .fa-play-circle {
        font-size: 7em;
      }
    }
  }
}
