@import url("https://fonts.googleapis.com/css2?family=Acme&family=Alegreya+Sans+SC:ital,wght@1,700&family=Ubuntu:ital,wght@1,700&display=swap");

$red: #e81123;
$orange: #f7630c;
$yellow: #ffb900;
$green: #00cc6a;
$blue: #0078d7;
$purple: #6b69d6;
$btnSize: 8em;
$darkGray: #2c3e50;
$defaultFont: "Acme", sans-serif;
$mainTextSize: 3rem;
$subTextSize: 2rem;

@mixin overlay($zIndex, $rgba) {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: $zIndex;
  user-select: none;
  background-color: $rgba;
}

@mixin panel($color) {
  @extend %btn-panel;
  background-color: $color;
}

@mixin brightness($brightness, $opacity) {
  border: 10px solid rgba(0, 0, 0, $opacity);
  filter: brightness($brightness);
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #e0e0e0;
  font-family: $defaultFont;
  font-style: italic;
  color: $darkGray;
}

.brand-overlay {
  @include overlay(5, rgba(33, 33, 33, 1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .brand {
    transform: translateY(-500%);
    img {
      margin-top: -5em;
      width: 40%;
      height: auto;
      filter: invert(95%) sepia(94%) saturate(2%) hue-rotate(68deg)
        brightness(103%) contrast(100%);
    }
    h1 {
      font-size: 4em;
      font-weight: 700;
      font-style: italic;
      font-family: "Alegreya Sans SC", sans-serif;
      text-transform: uppercase;
      color: white;
    }
  }
  
}

.underlay {
  @include overlay(4, rgba(255, 255, 255, 1));
}

.overlay {
  @include overlay(3, rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .logo {
    margin-top: 0.8em;
    font-size: 4em;
    font-family: "Ubuntu", sans-serif;
  }
  h3 {
    margin-bottom: 4em;
    font-size: 2em;
  }
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.status {
  margin-top: 2em;
  margin-bottom: 3em;
  visibility: hidden;
}

#level {
  font-size: $mainTextSize;
}

#turn {
  font-size: $subTextSize;
}

#play {
  margin-top: 3em;
}

#play:hover {
  opacity: 0.6;
}

%panels-spread {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.panels-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  .top,
  .bottom {
    @extend %panels-spread;
    gap: 0.8em;
  }
  .middle {
    @extend %panels-spread;
    gap: 7.2em;
  }
}

%btn-panel {
  width: $btnSize;
  height: $btnSize;
  border-radius: 50%;
  outline: none;
  @include brightness(80%, 0.5);
  &:hover {
    @extend %flash;
  }
}

.red {
  @include panel($red);
}

.orange {
  @include panel($orange);
}

.yellow {
  @include panel($yellow);
}

.green {
  @include panel($green);
}

.blue {
  @include panel($blue);
}

.purple {
  @include panel($purple);
}

%flash,
.active {
  @include brightness(180%, 0.7);
}

.fa-play-circle {
  font-size: 6em;
}

.animate__animated.animate__fadeIn {
  transform: translateY(0);
}

@media only screen and (min-device-width: 768px) {
  .brand-overlay {
    .brand {
      img {
        width: 10%;
      }
      h1 {
        font-size: 5em;
      }
    }
  }

  .panels-container {
    .middle {
      gap: 7.8em;
    }
  }
}
